{% load static %}
<DOCTYPE html>
    <html class="html">
        <head> 
        <title>create a book review</title>
        <link rel="stylesheet" href="{% static "book_review.css" %}">
        <nav>
            <a href="{% url "list_reviews" %}">Back to list</a>
        </nav>
        </head>
        <body>
            <headder>
                <div>my book review</div>
                <nav>
                    <a href="{% url "list_reviews" %}">Back to list</a>
                </nav>
            </headder>
            <main>
                <div class="detail-page-book-review">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div>
                              <button>Submit</button>
                            </div>
                          </form>
                        <div>
                            <button>submitassfuck</button>
                        </div>
                    </form>
                </div>
               
            </main>
            <footer class="footer">
                <div class="random-fucking-font">Copywright nwa acadmey of not giving a flying fuck 2002</div>
                <div class="random-fucing-font">A p tag with a sentence for the content that describes what the Web site is about 
                    (something like "This is my site that contains all of my book reviews that you can
                     read to see if you'd like that book.")</div>
                
            </footer>
        </body>
    </html>