{% load static %}
<!DOCTYPE html>
<html class="html">
    <head>
<title>book detals dipshit</title>
<link rel="stylesheet" href="{% static "book_review.css" %}">
    </head>
    <body>
        <header class="headder">
            <div>my book reviews</div>
            <nav>
                <a href="{% url "list_reviews" %}">Back to list</a>
                <div>
                    <a href="{% url "create_review" %}">Create a review</a>
                </div>
            </nav>
        </header>
        <main>
            <div class="detail_page-book-review">
                <img class="book-cover" scr="{{ review.cover_image }}">
                <h2 class="book-title">
                    <a href="detail.html">{{ review.title }}</a>
                </h2>
                <div class="book-rating">{{ review.rating }} stars</div>
                <div class="book-authors">
                    {{ review.authors }}
                </div>
                <h3>summary</h3>
                <p>
                    {{ review.summary }}
                </p>
                <h2> my review</h2>
                <p>
                    {{ reviev.review }}
                </p>
            </div>
        </main>
        <footer>
            <h7>
            <div class="random-fucking-font">Copywright nwa acadmey of not giving a flying fuck 2002</div>
            <div class="random-fucing-font">A p tag with a sentence for the content that describes what the Web site is about 
                (something like "This is my site that contains all of my book reviews that you can
                 read to see if you'd like that book.")</div>
            </h7>
        </footer>

    </body>
</html>
