{% load static %}
<!doctype html>
<html >
    <head>
        <title>book reviews</title>
        <link rel="stylesheet" href="{% static "book_review.css" %}"> <!-- this is a django template tag-->
    </head>
    <body >
        <header >
        <div>My book reviews</div>
        <h1> i did not know we were terning this in i cuss when im coding and played with alot of the code to feel out how it works enjoy my nightmear</h1>
        <nav>
            <a href="{% url "create_review" %}">Create a review</a>
        </nav>
        </header>
        <main>
        <div class="main-page-book-review" >
            <img class="book-cover"
            src="https://mks.io/make-it-stick.jpg"
            alt="bookcover for i got no clue">
            <div class="book-rateing">4 stars</div>
            <div class="book-authors">By Peter C. Brown, Henry L. Roediger III, Mark A. McDaniel</div>
            <h3>"summary"</h3>
            <p>
                CSS rules used
                The following list gives you the names of each of the CSS rules used on this page and the properties that they should affect.
                Some of the CSS properties are new and have links to documentation on Mozilla Developer Network for your convenience.
                Note: If you've already created any of these CSS rules in this section by working on another page, you do not need to make them, again
            </p>
        </div>
        {% for review in reviews %}
            <div class="main-page-book-review">
                <img class="book-cover" scr="{{ review.cover_image }}">
                <h2 class="book-title">
                    <a href="detail.html">{{ review.title }}</a>
                </h2>
                <div class="book-rating">{{ review.rating }} stars</div>
                <div class="book-authors">
                    {{ review.authors }}
                </div>
                <h3>summary</h3>
                <p>
                    {{ review.summary }}
                </p>
            </div>
        {% endfor %}
        </main>
        <footer>
            <div class="random-fucking-font"> my ass Coppyright this bitch 2022</div>
            <div class="random-fucking-font">I like Pietag with a sentence for the content that describes what the Web site is about (something like "This is my site that contains all of my book reviews that you can read to see if you'd like that book." </div>
        </footer>
    </body>