html{
    background-color:rgb(155, 155, 78);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    margin: 0;
}

header {
    padding: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}

main {
    max-width: 800px;
    margin: auto;
}

.main-page-book-review {
    background-color: rgb(180, 146, 146);
    border: 1px solid lightblue;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr; 
}

.detail-page-book-review {
    background-color: rgb(90, 143, 111);
    border: 1px solid rgb(4, 40, 52);
    padding: 24px;
}

.book-cover {
    width: 200px;
    height: auto;
    display: grid;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rateing {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}
.random-fucking-font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}